#pricinng {
    text-align: center;
    /* max-height: 180px; */
    font-family: MuseoSans-300, sans-serif;
}
#pricinng img{
   width: 180px;
}
#pricinng h1{
    color: #4b4b4b;
    font-family: MuseoSans-700, sans-serif;
    width: 55%;
    text-align: center;
    display: flex;
    
    margin: auto;
}
p{
    font-size: 14px;
}
#pricinng p{
    color: #4b4b4b;
    
}
#main_8r{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
}
#main_8r>div{
    /* border: 1px solid red; */
    border-top: 4px solid #f69271;
    text-align: center;
}
#main_8r>div h1{
    font-size: 45px;
    color:
    #4b4b4b;
    margin-top: -10px;

}
#main_8r>div p{
    font-family: MuseoSans-300, sans-serif;
    color: 
    #787878;
    width: 75%;
    text-align: center;
    margin: auto;
}
#main_8r p+h1{
    margin-top: 40px;
}
#main_8r img{

width: 130px;


}
p+div{
    line-height: 4px;
    margin-top: 100px;
}
button{
    padding: 10px 25px;
    margin-top: 100px;
    background-color: #f37e5d;
    color: white;
    border: none;
}
footer{
    font-family: MuseoSans-700, sans-serif;;
}
#button1{
    padding: 20px 20px;
    color: #f38262; 
    font-weight: bolder;
    background-color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}
#top>div{
    background-color:#f38262 ;
    margin: auto;
    text-align: center;
    padding: 30px 0px 60px 0px;
}
#h1{
   color: white;
   text-align: center;
   font-size: 30px;
}
#bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin-top: 40px;
}

footer p{
    color: #848484;
    font-size: 14px;
    cursor: pointer;
    
}
footer h4{
    color:#474768;
    /* font-weight: lighter; */
}
#product>div{
    display: flex;
    gap: 10px;
}
.font1{
    height: 30px;
    margin-top: 5px;
}
@media all and (min-width:50px) and (max-width:420px){
#bottom{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    margin-top: 40px;
}
}
@media all and (min-width:421px) and (max-width:720px){
#bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin-top: 40px;
}
}
#bot{
  display: flex;
  justify-content: space-between;
}
.foo{
  /* gap: 5px; */
  height: 30px;
  width: 20px;
  
}
.h4{ 
    text-align: center;
    font-weight: lighter;
    
}
#font_7{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
}
#font_7>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#font_7 img{
    width: 100px;
    display: flex;
    /* justify-content: center; */
    margin: auto;
    /* text-align: center; */
}
@media all and (min-width:50px) and (max-width:320px){
    #font_7{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
}
@media all and (min-width:321px) and (max-width:720px){
    #font_7{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
}
#su34{
   margin: 100px;
}
#mid{
    text-align: center;
    margin: auto;
   
    /* margin: auto; */
}
#mid>div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#mid img{
    border-radius: 50%;
    width: 60px;
}
#mid h3,h4{
    color: #a5a7aa;
    
}
#mid h3{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}