#container{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto;
width: 70%;
margin: auto;
color: #ffffff;
}

p,h3{
    color: #4b4b4b;
}
#container :first-child{
   width: 80%;
}
@media all and (min-width:60px) and (max-width:380px){
    #container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
       
        margin: auto;
        color: #ffffff;
        }
} 
@media all and (min-width:380px) and (max-width:780px){
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
       
        margin: auto;
        color: #ffffff;
        }
} 