#form{
   /* display: block;
    display: f;
    justify-content: center;
    border: 1px solid red;
    margin-top: 50px; */
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    z-index: 1;
    width: 400px;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 50px;
    background-color: #f7f7f7; 
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 30%);
   font-family: MuseoSans-300, "Helvetica Neue", Helvetica, Arial, sans-serif;;

}

p{
    color: #a0a09c;
    margin-top: 50px;
}
img{
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
    

#sign{
    background-color:#d4846f ;
    color: white;
    font-size: 16px;
    /* max-width: 300px; */
    padding: 15px;
    border: none;
}
input{
    width: 350px;
    padding: 15px;
}